.AutocompleteInput {
  position: relative;
  padding-top: 30px;
}

.AutocompleteInput input {
  border: 2px solid #ccc;
  border-radius: .4em;
  height: 4em;
  font-size: 15px;
  padding: 0 .8em;
  width: 100%;
  max-width: 250px;
  outline: none;
  transition: .3s;
  position: relative;
  z-index: 1;
}

.AutocompleteInput input:focus {
  border-color: #222;
}